
.header {
    align-items: center;
    width: 100%;
    z-index: 99;
    display: grid;
}

.modulesbutton {
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15%;

}

.modulesMenu {
    top:9% !important;
    left: 80% !important;
}

.icon-bar {
    display: block;
    width: 30px;
    height: 7px;
    border-radius: 6px;
    background: #3b3bb3;
}

.backgroundColorWhite {
    background-color: white;
}

.VideoTag {
    width: -webkit-fill-available;
}

.certificationsLogo > img {
    width: 90%;
    padding: 2% 5%;
}

.homePageModalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 2%;
    grid-gap: 5%;
}

.homeModalButtonContainer {
    position: absolute;
    color: navy;
    opacity: 0.5;
    display: grid;
    justify-content: end;
    width: 100%;
    margin-top: -32px;
    margin-left: -32px;
}

.accidentModalTitle{
    display: flex;
    align-items: center;
    gap: 0 4%;
    justify-content: center;
    margin-top: -10%;
}

.accidentModalTitle > h1 {
    color: red;
}

.reviewModulepaddingTop {
    padding: 3% 0;
}

.modulesContainer {
    display: grid;
    background: linear-gradient(10deg, #3b3bb3, #cae4fd);
    grid-template-columns: 3fr 1fr;
}

.modulesSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    padding-left: 3%;

}

.moduleButton {
    height: 100%;
    width: 100%;
}

.socialMediaIcons {
    display: flow;
}

.socialMediaIcons > a > img {
    width: 10%;
    padding: 0 2%;
}

.socialMediaIconsOnModules {
    display: flow;
    text-align-last: right;
    align-self: end;
}

.socialMediaIconsOnModules > a > img {
    width: 10%;
    padding: 0 2%;
} 

.galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
}

.galleryModalButtonContainer {
    position: absolute;
    color: navy;
    opacity: 0.5;
    display: grid;
    justify-content: end;
    width: 100%;
}

.galleryModalButton {
    color: navy !important;
}

.slick-prev:before,
.slick-next:before {
  color: navy !important;
}

.aboutUsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 700px) {
    .header {
        grid-template-columns: 9fr 1fr;
    }
    
}
@media (max-width: 950px) {

    .map > iframe {
        width: 100%;
    }

    .moduleButtonContainer {
        margin: 2%;
    }
    .tnsTitle {
        padding-top: 5%;
    }

    .tnsTitle > img {
        width: 10%;
        padding-right: 0.5rem;
    }
    
    .reviewModulepaddingTop {
        padding-top: 10%;
    }

    .greenAnnouncementContainer {
        background-size: 100%;
        background-repeat: repeat-y;
    }

    .reviewLinksContainer > a {
        width: 15%;
    }
}

@media (min-width: 950px) {
    .videoAndModalsContainer{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .homePageModalContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 5%;
    }

    .infoContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tnsTitle {
        font-size: 30px;
        gap: 1rem;
    }

    .tnsTitle > img {
        width: 5%;
        padding-right: 0.5rem;
    }

    .greenAnnouncementContainer {
        background-size: 100% 90%;
        background-repeat: no-repeat;
    }

    .reviewLinksContainer > a {
        width: 7%;
    }
}

.backgroundColor {
    background-color: #cae4fd;
}

.headerGroup {
    display: flex;
    padding: 0 0 0 5%;
    height: 80%;
    align-items: center;
}

.report {
    background-color: khaki;
    border-radius: 15px;
    align-self: center;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255, 1);
}

.buttonContainer {
    display: flex;
    padding-right: 10%;
    justify-content: flex-end;
}

.clickButton {
    width: 60px;
}

.contactButton {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255,1);
}
.contactButton:active{
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 2), 0 0 0 rgba(255, 255, 255,0.8),
    inset 18px 18px 30px rgba(0, 0, 0, 0.1), 
    inset -18px -18px 30px rgba(255, 255, 255, 1);
}

.contactButton:active TaxiAlertIcon{
    width: 30px;
}
.img {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255,1);
    transition: all 0.3s ease-out;
    border-style: solid;
    border-color: #1b73bc;
    background-color: #e3edfe;
}

.img:active{
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 2), 0 0 0 rgba(255, 255, 255,0.8),
    inset 18px 18px 30px rgba(0, 0, 0, 0.1), 
    inset -18px -18px 30px rgba(255, 255, 255, 1);
}

img:active img{
    width:40px;
}
.buttonLetter:active .buttonLetter{
    width: 30px;
}
.buttonLetter {
    width: 60px;
    transition: all 0.3 ease-out;
}

.carousel {
    width: 80%;
    margin-left: 20%;
    align-self: center;
    padding-top: 3%;
}

.reveiews {
    display: grid;
}

.reveiews > p {
    font-family: initial;
    font-size: small;
}

.footerContainer {
    display: grid;
}

.tnsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b73bc;
}

.infoContainer {
    display: grid;
    padding: 1% 3%;
}

.infoDetail > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    margin: 0 5% 5% 5%;
}
.map > h3 {
    max-inline-size: fit-content;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    width: 80%;
}

.introduction{
    margin: 0 5% 5% 5%;
}

.paddingBot {
    padding-bottom: 5%;
}



.certificationsInfo {
    display: grid;
    grid-template-rows: 1fr 1.8fr 1fr;
    align-content: space-between;
    justify-items: center;
}

.certifications > p {
    font-weight: 300;
    width: 80%;
    display: grid;
    padding: 0 10%;
    font-size: 20px;
}

.certificationsLogo {
    align-items: center;
    justify-content: center;
}

.certificationsInfoContainer {
    display: grid;
    grid-template-columns:  1fr 1fr;
    column-gap: 5%;
    padding:  5% 7%;
}

.certificationsInfo > h2 {
    font-family: system-ui;
    font-size: 40px;
    font-weight: 600;
    color: #0073ba;
}

.partnership {
    padding: 5% 0;
}

.ppgAnnouncement {
    padding: 0 10% 5% 10%;
    display: grid;
    font-weight: 300;
    font-size: 20px;
}

.greenAnnouncementContainer {
    display: grid;
    grid-gap: 2rem;
    padding: 0 10% 10% 10%;
    background-image: url(https://www.fastweb.com/uploads/article_photo/photo/2036160/Simple_Environment.jpeg);
    opacity: 0.8;
}

.greenAnnouncementContainer > div > h2 {
    font-family: system-ui;
    font-size: 40px;
    font-weight: 600;
    color: #16a6ff;
}

.greenAnnouncementContainer > div > p {
    font-family: system-ui;
    color: #fff;
}

.sectionTitle {
    text-align:center;
    font-size: 47px;
    font-family: auto;
    font-style: italic;
    font-weight: 300;
    color: darkred;
}
.item {
    height: 40px;
    width: 40px;
    background-color: blue;
    margin: 2%;
    transition: .3s;
    opacity: .3;
}

.headerIcons {
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.callUsIcon {
    margin-right: 10px;
    color: #0073ba;
}

.moduleContainer {
    padding: 0 5%;
}

.moduleContainer > p {
    font-weight: 300;
    width: 80%;
    display: grid;
    padding: 0 10%;
    font-size: 20px;
}

.showcaseContainer {
    width: 50%;
}


.backToHomeIconButton {
    width: 60px;
    height: 60px;
    background-color: #095684;
    border-radius: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.certificationsExpand {
    padding:5%;
}
.certificationsExpand > h2 {
    color: #16a6ff;
}
.certificationsExpand > h2 > div {
    font-size: 15px;
    font-family: cursive;
    color: #1c70a2;
    font-weight: 300;
    font-size: 20px;
}

.certificationsExpand > p {
    font-weight: 300;
    font-size: 20px;
}

.reviewLinksContainer {
    display: flex;
    width: 60%;
    align-items: center;
    padding-left: 5%;
    gap: 5%;
}

.reviewImgs {
    width: -webkit-fill-available;
}